body {
  margin: 0;
  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: white;
}

.title {
  color: rgb(55, 55, 85);
  font-size: 32px;
  background-color: rgba(218, 210, 210, 0.542);
  border-radius: 7px;
}

